h1 {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 62px;
}

label {
    font-family: "Annapurna SIL", sans-serif;
    margin-left: 12%;
    font-size: 30px;
}

option {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 20px;
}

p {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 18px;
    color: #777575;
}

b {
    color : rgb(44, 44, 44);
    font-weight: 150;
}


a {
    text-decoration: none;
    color: black;
}

table{
    font-family: "Annapurna SIL", sans-serif;
    color: rgb(255, 255, 255);
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px auto;    
    width: 90%;
    max-width: 760px;       
    box-sizing: border-box;
    align-items: center;
}

td, th {
    font-family: "Annapurna SIL", sans-serif;
    border: 1px solid #000;
    padding: 8px;           
    text-align: center;
    background-color: white;
    color: black;
    font-optical-sizing: auto;
}

th {
    background-color: #2F6842;
    color: #fff;
    padding: 8px;
    border: 1px solid #2F6842;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 62px;
}

.button {
    width: 425px;
    margin: 16px auto; 
    padding: 12px 20px;
    background-color: #B0CE88;
    border-radius: 100px;
    text-align: center;
    font-size: 22px;
    box-shadow: 10px 10px 15px rgba(0.1,0.1,0.1,0.15);
    border: none;
    cursor: pointer;
    font-family: "Annapurna SIL", sans-serif;
    color: black;
    text-decoration: none;
    display: block;      
}

.button:hover {
    background-color: #a1bc7e;
    transform: scale(1.10);
}

.icon_search {
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
}

#separate_link { 
    display: flex;
    gap: 50px;
}

#control_pages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}