div h1{
    font-family: "Annapurna SIL", sans-serif;
    font-size: 62px;
    margin:0 0 0 100px;
    padding: 0;
    line-height: 1;
}

div h2{
    font-family: "Annapurna SIL", sans-serif;
    font-weight: 200;
    font-size: 32px;
    margin:0;
    padding: 0;
    line-height: 1;
}

p{
    font-family: "Annapurna SIL", sans-serif;
    font-size: larger;
    margin: 0% 0% 0% 12%;
}

.button {
    width: 425px;
    margin: 16px auto; 
    padding: 12px 20px;
    background-color: #B0CE88;
    border-radius: 100px;
    text-align: center;
    font-size: 22px;
    box-shadow: 10px 10px 15px rgba(0.1,0.1,0.1,0.15);
    border: none;
    cursor: pointer;
    font-family: "Annapurna SIL", sans-serif;
    color: black;
    text-decoration: none;
    display: block;         
}

.button:hover {
    background-color: #a1bc7e;
    transform: scale(1.10);
}

#line{
    height: 110px;
}

#organize_menu{
    display: flex;
    justify-content: space-between;
}

#organize_text{
    width: 45%;
}

#space_image{
    height: 200px;
}

#line_with_tittles{
    gap: 20px;
    margin-left: 12%;
    display: flex; 
}

#separate_link{
    display: flex;
    gap: 50px;
}

#image_orange{
    height: 400px;
}