h1 {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 62px;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
}

label {
    font-family: "Annapurna SIL", sans-serif;
    margin: 0;
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
    font-weight: bold;
}

select {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 20px;
    padding: 4px 0 4px 15px;
    width: 310px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    white-space: nowrap;
    margin: 0 auto 20px;
} 

option {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 20px;
    white-space: nowrap;
}

input {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 20px;
    padding: 4px 0 4px 15px;
    width: 290px;
    height: 29px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin: 0 auto 20px;
}

div {
    text-align: center;
}

.button {
    width: 425px;
    margin: 16px auto; 
    padding: 12px 20px;
    background-color: #B0CE88;
    border-radius: 100px;
    text-align: center;
    font-size: 22px;
    box-shadow: 10px 10px 15px rgba(0.1,0.1,0.1,0.15);
    border: none;
    cursor: pointer;
    font-family: "Annapurna SIL", sans-serif;
    color: black;
    text-decoration: none;
    display: block;         
}

.button:hover {
    background-color: #a1bc7e;
    transform: scale(1.10);
}

#separate_link { 
    display: flex;
    gap: 50px;
}