h1 {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 62px;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
}

label {
    font-family: "Annapurna SIL", sans-serif;
    margin-left: 12%;
    font-size: 30px;
}

select {
    font-family: "Annapurna SIL", sans-serif;
    margin-left: 12%;
    font-size: 20px;
    padding: 8px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    white-space: nowrap;
}

option {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 20px;
    white-space: nowrap;
}

input {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 20px;
    padding: 4px 0 4px 15px;
    width: 290px;
    height: 29px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin: 0 auto 20px 0;
}

div {
    text-align: center;
}

p {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 18px;
    width: 60%;
    color: #777575;
}

a {
    text-decoration: none;
    color: black;
}

table {
    font-family: "Annapurna SIL", sans-serif;
    color: rgb(255, 255, 255);
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px auto;
    width: 760px;
    box-sizing: border-box;
    align-items: center;
}

td,
th {
    font-family: "Annapurna SIL", sans-serif;
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    background-color: white;
    color: black;
    font-optical-sizing: auto;
}

.columnas {
    background-color: #2F6842;
    color: #fff;
    padding: 8px;
    border: 1px solid #2F6842;
}

.button {
    width: 425px;
    margin: 16px auto;
    padding: 12px 20px;
    background-color: #B0CE88;
    border-radius: 100px;
    text-align: center;
    font-size: 22px;
    box-shadow: 10px 10px 15px rgba(0.1, 0.1, 0.1, 0.15);
    border: none;
    cursor: pointer;
    font-family: "Annapurna SIL", sans-serif;
    color: black;
    text-decoration: none;
    display: block;
}

.button:hover {
    background-color: #a1bc7e;
    transform: scale(1.10);
}

.button_table {
    padding: 6px 12px;
    background-color: #B0CE88;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    box-shadow: 10px 10px 15px rgba(0.1, 0.1, 0.1, 0.15);
    border: none;
    cursor: pointer;
    font-family: "Annapurna SIL", sans-serif;
    color: black;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    min-width: 150px;
}

.button_table:hover {
    background-color: #a1bc7e;
    transform: scale(1.10);
}

.button_search {
    background-color: #EFEDE3;
    border-style: none;
}

.icon_search {
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#separate_link {
    display: flex;
    gap: 50px;
}