html{
    background-color: #EFEDE3;
    user-select: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 3rem;
}

nav img {
    height: 100px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

nav ul li a {
    font-family: "Annapurna SIL", sans-serif;
    font-size: 22px;
    color: #2F6842;
    text-decoration: none;
}

nav ul li a:hover {
    border-bottom: solid #2F6842 1px;
}


