/*
Esto va a ser una refactorización del proyecto  para  que no haya 
tantos archivos en una sola carpeta y para qué ya no tenga que estar copiando 
y pegando el código de los estilos de la página

Variables de CSS que sirve para guardar valores 
Se declaran dentro de :root 

==== Me quedé en el minuto 23:30 ====
*/

@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --green_text: #2F6842;
    --background_color: #FFFF;
    --background_color_cream: #EFEDE3;
    --line-color: #a1a09b;
    --green_fill: #99b4a2;
    --green_hover: #99b4a2;
    --font_text:"Schibsted Grotesk";
    --font_tittle: "DM Sans";
}


/* Estilos del cuerpo en general */

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font_text), sans-serif;
    user-select: none;
    line-height: 1.5rem;
}

body {
    /*
min-height es la altura mínima del cuerpo del texto que debe de tener el contenido
en el viewport (pantalla visible).
*/
    min-height: 100vh;
    color: var(--green_text);
    background-color: var(--background_color);
    display: grid;
    grid-template-columns: auto 1fr;
}

/* ======= ESTILOS DE LA SIDEBAR ======= */
nav ul li a {
    font-family: var(--font_text), sans-serif;
    font-size: 16px;
    color: var(--green_text);
    text-decoration: none;
}



#sidebar {
    box-sizing: border-box;
    height: 100vh;
    padding: 5px 1em;
    /* Podemos personalizar a donde queremos que se ponga el borde */
    border-right: 1px solid var(--line-color);
    width: 250px;


    /* Esto hace que nuestro sidebar se quede fijo */
    position: sticky;
    top: 0;
    align-self: start;
    overflow: hidden;
    text-wrap: nowrap;
    transition: 300ms ease-in-out;
}

#sidebar ul {
    list-style: none;
}


/* 
Combinadores de hijo directo

Estos se llaman combinadores de hijo directo, 
lo que hacen es seleccionar el primer/último/posición N hijo directo (está por defecto el primero)
del elemento a la derecha.
Por ejemplo, aquí el primer hijo directo ul li (elemento de una lista) es el logo.

*/

#sidebar>ul>li:first-child {
    display: flex;
    justify-content: end;
    margin-bottom: 16px;
}


    /* Estilos del logo */
#sidebar>ul>li .logo:first-child {
    font-weight: 700;
}

/* Esto servira en el futuro para colorear los links dependiendo en donde estemos*/

#sidebar ul li.active a svg {
    stroke: var(--green_text);
}

#sidebar svg{

    /* 
    Esto nos dice cuanto se ahica nuestro elemento entre menos espacio haya
    como en este caso es 0, no se va achicar nunca.
    */
    flex-shrink: 0;
    stroke: var(--green_text);
}

/*
Esto nos permite separar la flechita del texto
*/

#sidebar a span,
#sidebar .dropdown-btn span{
flex-grow: 1;
}


/*
 Esto hace que se acomoden de manera correcta los links de la sidebar
*/

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--green_text);
    display: flex;
    align-items: center;
    gap: 1em;
}

#sidebar .dropdown-btn {
    width: 100%;
    text-align: left;
    background-color: var(--background_color);
    border: none;
    font: inherit;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

/*

======== ANIMACIONES SIDEBAR ========

*/

#sidebar .dropdown-btn:hover,
#sidebar ul li a:hover{
background-color: var(--green_hover);
}

/* Efecto para que se muestren y se oculten los submenus */

#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
}

#sidebar .sub-menu > div{
overflow: hidden;
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

#sidebar .sub-menu a{
    padding-left: 2em;
}

#sidebar.close{
    padding: 5px;
    width: 59px;
}

/*
Estilo del boton que abre y cierra el submenu
*/
#toggle_btn{
margin-left: auto;
padding: 1em;
border: none;
border-radius: .5em;
cursor: pointer;
background-color: #ffff;
}

#toggle_btn svg{
    transition: 150ms ease;
}

#toggle_btn:hover{
    background-color: var(--green_hover);
}


/* Rotacion de los SVG para cuando le de click para abrir un submenu */
/* Selecciona el ultimo hijo de la clase .rotate (Una clase que se le
agrega al boton), unicamente afectando la ultima flechita. */
.rotate svg:last-child{
rotate: -180deg;
}

.dropdown-btn svg{
    transition: 200ms ease-in-out;
}

/* Estilos de donde van a ir los elementos de formularios y eso */

.container {

    /* 
    Funcion min()
    Esto es para asegurar que sea responsivo,
     asegura que se establezca
    el minimo de estos 2 parametros.
    3em = 48px
    15% = tamaño del contenedor * 0.15 */

    margin-top: min(4em, 5%);
    margin-bottom: min(4em, 5%);
    margin-left: min(4em, 10%);
    margin-right: min(4em, 10%);
    border-radius: 20px;
    border: 1px solid var(--line-color);
    background-color: white;
    padding: min(3em, 15%);
    overflow: hidden;
}

.center_items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos por defecto de los elementos */

span{
    font-family: var(--font_text), sans-serif;
    font-size: 16px;
}


h1 {
    font-family: var(--font_text), sans-serif;
    font-size: 24px;    
    text-align: center;
}


label {
    font-family: var(--font_text), sans-serif;
    font-size: 16px;
}

select {
    font-family: var(--font_text), sans-serif;
    font-size: 16px;
    padding: 5px;
    /* Es 105% por que no sé por qué no ocupa todo el espacio al igual que el input */
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

option {
    font-family: var(--font_text) sans-serif;
    font-size: 16px;
}

input {
    font-family: var(--font_text), sans-serif;
    font-size: 16px;
    padding: 4px 0 4px 15px;
    height: 29px;
    width: 70%;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #777575;
}

a {
    text-decoration: none;
    color: black;
}

/* Estilos de la tabla */

table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
    overflow: hidden ;
    border-radius: 15px;
    margin: 5px 2px;
    align-items: center;
    max-height: 4vh;
}

tbody{
    font-size: small;
}

thead{
    font-size: small;
}

td,
th {
    padding-left: 2px;
    padding-right: 2px;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    border: 1px solid #000;
    text-align: center;
    background-color: var(--background_color_cream);
    color: black;
    font-optical-sizing: auto;
}

.button_table {
    width: 100%;
    margin: 10px auto;
    background-color: #B0CE88;
    border-radius: 100px;
    text-align: center;
    font-size: 12px;
    box-shadow: 10px 10px 15px rgba(0.1, 0.1, 0.1, 0.15);
    border: none;
    cursor: pointer;
    font-family: var(--font_text), sans-serif;
    color: black;
    text-decoration: none;
}


/* Esto es para que se pueda ver la tabla cuando ya no haya espacio */

.table_scroll{
    overflow-x: scroll;
}


/* Otras clases */

.columnas {
    background-color: #2F6842;
    color: #fff;
    padding: 2px;
    border: 1px solid #2F6842;
}

/* Estilos de los botones */

.button {
    font-family: var(--font_text), sans-serif;
    width: 60%;
    padding: 4px 10px;
    margin-top: 10px;
    background-color: #B0CE88;
    border-radius: 100px;
    font-size: min(15px);
    box-shadow: 10px 10px 15px rgba(0.1, 0.1, 0.1, 0.15);
    border: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
    overflow: hidden;
}

/* Estilos de la barra de busqueda */

.button_search {
    background-color: var(--background_color);
    border-style: none;
}

.button:hover {
    background-color: #a1bc7e;
    transform: scale(1.10);
}

.search_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_container .button_search svg {
height: 100%;
stroke:var(--green_text);
padding: 5px;
}

.search_container input {
margin: 0;
}

/* Estilos del cuadro de dialogo */
.dialog {
    border: 0;
    border-radius: 20px;
    width: 525px;
}

.dialog_header {
    display: flex;
    justify-content: end;
}

.dialog_body {
    padding: 30px;
}

.btnDialog {
    border: 0;
    background-color: #ffff;
    font-size: 20px;
}



/* Estilos adicionales en telefono */

@media (max-width: 768px) {
    table {
        max-width: 40vh;
        max-height: 4vh;
    }
}